/* #LoginFormContainer {
    display: flex;
    /* align-content: center;
    align-items: center; */
    /* justify-content: center;
    justify-items: center;
    height: inherit;
    width: 100vw;
    padding-top: 20vh;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}
input[type=file] {
  width: 100%;
} */ 

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}
