/* #nav{
    display: flex;
    flex-flow: row nowrap;
    height: 10vh;
    vertical-align: middle;
    align-content: space-evenly;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    background-color: #121212;
    padding-top: 15px;
} */

#Logo {
    height: 2em;
    /* padding-bottom: 2vh; */
    position: relative;
    bottom: .5em;
}
  
#nav .navbar-brand {
font-weight: bold;
}
